{{> header}} 

<div class="container mt-3">

  <div class="d-flex justify-content-end">
    <a href="#" class="btn btn-primary">게시글 등록</a>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>번호</th>
        <th>제제목</th>
        <th>내용</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td>제목3</td>
        <td>내용3</td>
        <td style="text-align: right;">
          <button type="button" class="btn btn-secondary">수정</button>
          <button type="button" class="btn btn-danger">삭제</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>제목2</td>
        <td>내용2</td>
        <td style="text-align: right;">
          <button type="button" class="btn btn-secondary">수정</button>
          <button type="button" class="btn btn-danger">삭제</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>제목1</td>
        <td>내용1</td>
        <td style="text-align: right;">
          <button type="button" class="btn btn-secondary">수정</button>
          <button type="button" class="btn btn-danger">삭제</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>