{{> header}}

<div class="container p-5">

    <!-- 수정삭제버튼 -->
    <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-secondary">수정</button>
          <button type="button" class="btn btn-danger">삭제</button>
    </div>

    <!-- 게시글내용 -->
    <div>
        <h2><b>제목</b></h2>
        <hr />
        <div class="m-4 p-2">
            내용
        </div>
    </div>


